<!DOCTYPE html>
<html xmlns:th="http:///www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div class="container">
  <form action="/members/new" method="post">
    <div class="form-group">
      <label for="memberName">이름</label>
      <input type="text" id="memberName" name="memberName" placeholder="이름을 입력하세요"/>
      <label for="memberPassword">비밀번호</label>
      <input type="password" id="memberPassword" name="memberPassword" placeholder="비밀번호를 입력하세요"/>
      <label for="memberEmail">이메일</label>
      <input type="text" id="memberEmail" name="memberEmail" placeholder="이메일"/>
    </div>
    <button type="submit">등록</button>
  </form>
</div>
</body>
</html>